.Hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    & h1 {
        color: #272341;
        font-size: 3.5rem;
        margin-bottom: 20px;
    }

    & .boldText {
        color: white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        color: white;
        background-image: linear-gradient(135deg,#02aab0,#00cdac);
    }

    & .heroButtons {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        margin-bottom: 20px;


        & a {
            text-decoration: none;
            color: black;
        }
    }

    & .socialIcons {
        margin-bottom: 20px;

    }

    & .arrow-down {
        justify-self: flex-end;
        color: #272341;
        font-size: 2rem;
        // padding-top: 200px;
        cursor: pointer;

    }
}

