.portfolioContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 24vw);
    grid-column-start: auto;
    
}
